aside {
  grid-column: span 2;
}

@media (max-width: 700px) {
  aside {
    grid-column: 1 / span 5;
  }
}

aside {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
